html, body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  width: auto;
  color: white;
}

p {
  font-size: 1em;
}

h1{
  text-shadow: 0 .03em .09em rgba(0,0,0,.4);
  color: white;
}

h2{
  text-shadow: 0 .03em .09em rgba(0,0,0,.4);
  color: white;
}



/* Header*/
.header {
  background-color: rgba(0,0,0,.5);
  position: relative;
  padding: 1.2em 0em;
  font-size: 1.5em;
  text-align: center;
}

.list {
  display: inline-block;
  list-style: none;
  margin-right: 1em;
}

.list li {
  display: inline;
  margin: 0 1em 0 0;
  color: white;
  transition: all .2s ease-in;
}

.list li:hover{
  color: rgba(79, 196, 214, 1);
  border-bottom: .1em solid rgba(79, 196, 214, 1);
  padding-bottom: .2em;
}


/* Jumbotron*/
.jumbotron {
  position: relative;
  text-shadow: 0 .03em .09em rgba(0,0,0,.4);
  background-color: transparent;
  text-align: center;
  color: white;
  margin-top: 15em;
}


/* Typewritter */

.typewriter h1, .typewriter h2 {
  overflow: hidden;
  border-right: .1em solid;
  white-space: nowrap;
  margin: 0 auto; 
  letter-spacing: .15em;
  width: 18em;
}

.typewriter h1 {
  font-size: 3em;
  animation:   
    typing 3s steps(35, end),
    blink-caret 1s step-end infinite;
}

.typewriter h2 {
  animation: 
    typing2 6.5s steps(30, end),  
    blink-caret 1s step-end infinite;
}

/* The typing effect */
  @keyframes typing {
    from { width: 0;} 
  }

  @keyframes typing2 {
    0%{width: 0;}
    50%{width: 0;}
    100%{width: 100;}
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    0% { border-color: transparent }
    50% { border-color: transparent }
    100% {border-color: transparent}
  }

/* Supporting*/
.supporting {
  margin: 1em 1em 5em 1em;
}

.footer .container {
  color: white;
  text-align: center;
}

.button {
    height: 3.125em;
    width: 19.375em;
    color: rgba(38, 80, 120, 1);
    text-shadow: .1em .1em .2em rgba(0,0,0,.4);
    background-color: rgba(255, 255, 255, .5);
    border-radius: .5em;
    margin: auto;
    text-align: center;
    padding-top: 0.938em;
}

.button:hover {
  background-color: rgba(0,0,0,.5);
  height: 3.125em;
  width: 9.375em;
  color: white;
  text-shadow: .1em .1em .2em rgba(0,0,0,.4);
}

/*Parallex Img*/
#landscape {
  width: 100%;
  height: 100vh;
  perspective: 0.063em;
  overflow-x: hidden;
  overflow-y: auto;
  background: url("../images/tpbk.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

/*About Me*/
.aboutMe {
  padding-top: 1em;
  padding-bottom: 1em;
  color: black;
  background-image: url("../images/biopk.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.aboutMe .container {
  background-color:rgba(184, 196, 201, 0.562);
  border-radius: 1em;
  padding: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.aboutMe h1 {
  text-align: center;
  padding-bottom: .3em;
  font-size: 3.750em;
  text-shadow: .1em .1em .2em black;
}

#name{
  padding: 0;
  text-align: center;
  color: black;
}
#header {
  text-align: center;
  padding-bottom: 3em;
}

.flex-box{
  display: inline;
  padding: 0;
}

.flex-item{
  list-style: none;
  font-size: 1em;
  padding-right: 3em;
  display: inline-block;
}

#skills-h3{
  padding-top: 1em;
}
#skills {
  padding-bottom: 1em;
  border-bottom: 1px solid #f3f6db;
}
.bold-text {
  font-weight: bold;
}

#summary {  
  text-indent: 2em;
}

/*carousel*/
.carousel-inner > .item > img{
  height: 18.750em;
  width: 31.250em;
  margin: auto;
}

a.left.carousel-control{
  float: left;
}
a.right.carousel-control{
  float: right;
}

.myCarousel {
  height: 18.750em;
  width: 31.250em;
}

/*Projects*/
/* .img-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: auto;
  text-align: center;
} */

.projectSection {
  margin: 0;
  padding-bottom: 6.250em;
  background-image: url('../images/mdbk.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;  
  text-align: center;
}

.projectSection .container {
  border-top: thick double white;
  margin-top: 6.250em;
}

#intro {
  text-align: center;
  padding-top: 6.250em;
  color: white;
}

#intro h1{
  font-size: 3.750em;
  text-shadow: .1em .1em .2em black;
}

.projects .container h1{
  text-shadow: .1em .1em .2em black;
}

.projectSection ul.img-list img {
  height: 12.500em;
  width: 18.750em;
}

.projectSection ul.img-list li {
  display: inline-block;
  height: 12.500em;
  margin: 0 1em 1em 0;
  position: relative;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}
span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 12.500em;
  left: 0;
  position: absolute;
  top: 0;
  width: 18.750em;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

/*Contact*/
.Contact {
  margin: 0;
  padding: 1.563em;
  background-image: url('../images/btbk.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;  
  color: black;
  font-weight: bold;
  text-align: center;
}

.Contact h1 {
  text-shadow: .1em .1em .2em black;
  padding-bottom: 1em;
}

.Contact h3 {
  color: white;
  text-shadow: .1em .1em .2em black;
  font-size: 2em;
}

.Contact a {
    text-decoration: none;
    color: black;
}

.Contact p {
    font-size: 1.5em;
    padding-bottom: 1.5em;
}
.Contact img {
    height: 2.3em;
    margin: 2em;
}

.Contact .container {
  background-color:rgba(46, 100, 122, 0.562);
  border-radius: 1em;
  padding: 3.5em;
  margin-top: 3em;
  margin-bottom: 3em;
}